*{
  margin: 0px;
  padding: 0px;
}

body{
 font-family: sans-serif;
 background-color: #f4f4f4;
}

.background {
	       background-image:url('image/girl.jpg') ;
	       background-size: cover;
	       min-height: 300px;
	       bottom: 0;
	       position: relative;
	       background-position: center center;
           
	       z-index: -10; 

}
.background h1{

	    text-align:center;
	    padding: 100px;
	    color: white;
}

header{
	background-color: black;
	height: auto;
	margin: auto;
	border-bottom: 1px solid black;
}

.nav-main{
	padding: 10px 10px;
	text-align:center;

}
.nav-ul li{
	display: inline-block;
	text-decoration:none;
	padding: 30px 30px;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-transform: uppercase;
	font-size: 16px;
	border-left: 1px solid white;
}

.nav-ul li a{
    
          color: white;
          text-transform: uppercase;
          font-size: 16px;
}

.nav-ul li:hover{
    background-color: blue;
}
.d-container{
    height: 200px;
	width:auto;
	background-color:black;
	

}
.d-container ul {
   padding: 0px;
   margin:0px;
}
.d-container ul li{
     list-style: none;
     float: left;
     width: 20%;
     height:200px;
     background: blue;
     margin: 1px 30px 0px 100px;

}

.title{
     padding: 10px;
     text-align: center;
}

.tm-video video{
       width:245px;
        margin: 2px;

}



.tm-video1 video{
        width:245px;
        margin: 2px;

}

.tm-video2 video{
        width:245px;
        margin: 2px;

     }

.Contact{
        margin: auto;
        padding: 1px;
        width: 600px;
        background-color:white;
        border-radius:5px;
        background-image:url('image/man.jpg') ;
        background-size: cover;
        background-position: center;



}

.Contact img{
	    background-size: cover;
	    background-position: center center;
	    width:100%;
	    margin-left: 0px;
	    margin-right:0px;
	}

.Contact h3{
	   text-align: center;
	   font-family: sans-serif;
	   padding: 10px;
}

input[ type=text],select,textarea{
	width: 100%;
	padding:12px;
	border: 1px solid blue;
	margin-top: 6px;
	margin-bottom: 16px;
	border-radius: 10px;
	resize: none;
	box-sizing: border-box;
}


input[type=submit]{
	background-color:#4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #45a049;
}
.about_us p{
	color: black;
	
}
.footer-main{

	height:90px;
	width:100%;
	background-color: black;
	border: 1px solid white;
	margin-top:400px;



	 
}


#p-title{
	color: white;
	font-size: 20px;
	font-weight: italic, bold;
	padding: 30px;
	text-align: center;
}    
	

.section1 p{
	margin-right: 500px;
}
